@CHARSET "UTF-8";

.container {
	max-width: 998px;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	display: block;
	margin: 0px auto;
}

.wrapper-except-footer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.push_for_footer,
.wrapper_for_footer {
	height: 60px;
}

.wrapper_for_footer {
	background-color: #ffffff;
}
