@CHARSET "UTF-8";
.AvatarSelector input:active + .AvatarImage {
	opacity: .9;
}
.AvatarSelector input:checked + .AvatarImage {
	-webkit-filter: none;
	   -moz-filter: none;
	        filter: none;
}
.AvatarSelector input {
	margin:0;padding:0;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
}
.AvatarImage {
	-webkit-transition: all 100ms ease-in;
	   -moz-transition: all 100ms ease-in;
	        transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	   -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
	        filter: brightness(1.8) grayscale(1) opacity(.7);
}
.AvatarImage:hover {
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
	   -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
	        filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.AvatarImage img {
	width: 100px; height: 100px;
}
