<!doctype html>
<html ng-app="app">
	<head>
		<title>Chat Message API Temp Client</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.min.js"></script>
		<script type="text/javascript">
		(function () {
			var app = angular.module('app', ['ngMessages']);

			app.controller('ChatMessageFormController', function($scope, $http) {
				// model
				$http.get('/api/chat_rooms')
					.success(function (data) {
					$scope.chatRooms = data;
				})

				$http.get('/api/users')
					.success(function (data) {
					$scope.users = data;

					var tempHash = {};
					angular.forEach(data, function (user, i) {
						tempHash[user._id] = user;
					});
					$scope.usersIdHash = tempHash;
				})

				$scope.chatMessage = {};

				// validator (sync)
				$scope.validators = {
				};

				// validator (async)
				$scope.asyncValidators = {
				};

				$scope.submit = function () {
					if ($scope.chatMessageForm.$invalid) {
						$scope.chatMessageForm.$setDirty();
						return;
					}

					var selectedUser = $scope.usersIdHash[$scope.chatMessage.createdByUserId];
					$scope.chatMessage.createdByUserName = selectedUser.userName;
					$scope.chatMessage.createdByUserAvatarId = selectedUser.avatarId;

					$http.post('/api/chat_messages', $scope.chatMessage)
						.success(function(data, status, headers, config){
							alert("succsess");
						})
						.error(function(data, status, headers, config){
							alert("error");
						});
				};
			});

			app.controller('ChatMessageListController', function($scope, $http) {
				$http.get('/api/chat_messages')
					.success(function(data) {
					$scope.chatMessages = data;
				});
			});
		})();
		</script>
	</head>

	<body>
		<div ng-controller="ChatMessageFormController">
			<form name="chatMessageForm" novalidate ng-submit="submit()">
				<div>
					<div>
						<label>話題：</label>
						<span ng-messages="chatMessageForm.chatRoomId.$error" ng-if="chatMessageForm.chatRoomId.$dirty || chatMessageForm.$submitted">
							<span ng-message="required">必須です</span>
						</span>
					</div>
					<select ng-model="chatMessage.chatRoomId"
						required>
						<option ng-repeat="chatRoom in chatRooms" value="{{chatRoom._id}}">{{chatRoom.title}}</option>
					</select>
				</div>
				<div>
					<div>
						<label>ユーザ：</label>
						<span ng-messages="chatMessageForm.createdByUserId.$error" ng-if="chatMessageForm.createdByUserId.$dirty || chatMessageForm.$submitted">
							<span ng-message="required">必須です</span>
						</span>
					</div>
					<select ng-model="chatMessage.createdByUserId"
						required>
						<option ng-repeat="user in users" value="{{user._id}}">{{user.userName}}</option>
					</select>
				</div>
				<div>
					<div>
						<label>メッセージ：</label>
						<span ng-messages="chatMessageForm.message.$error" ng-if="chatMessageForm.message.$dirty || chatMessageForm.$submitted">
							<span ng-message="required">必須です</span>
							<span ng-message="minlength">4文字以上必要です</span>
						</span>
					</div>
					<input type="text" name="message" ng-model="chatMessage.message"
					       required minlength="4" />
				</div>
				<button ng-disabled="chatMessageForm.$dirty && chatMessageForm.$invalid">送信</button>
			</form>
			<div>
				<pre>chatMessage = {{chatMessage|json}}</pre>
				<pre>chatMessageForm.$error = {{chatMessageForm.$error|json}}</pre>
			</div>
		</div>

		<div ng-controller="ChatMessageListController">
			<p>Chat Message 一覧</p>
			Room数 : {{chatMessages.length}}
			<ul>
				<li ng-repeat="chatMessage in chatMessages">{{chatMessage._id}} : {{chatMessage.chatRoomId}} : {{chatMessage.message}} : {{chatMessage.createdByUserId}} : {{chatMessage.createdByUserName}} : {{chatMessage.createdAt}}</li>
			</ul>
		</div>
	</body>
</html>
