<!doctype html>
<html ng-app="app">
	<head>
		<title>Chat Room API Temp Client</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.min.js"></script>
		<script type="text/javascript">
		(function () {
			var app = angular.module('app', ['ngMessages']);

			app.controller('ChatRoomFormController', function($scope, $http) {
				// model
				$http.get('/api/users')
					.success(function (data) {
					$scope.users = data;

					var tempHash = {};
					angular.forEach(data, function (user, i) {
						tempHash[user._id] = user;
					});
					$scope.usersIdHash = tempHash;
				})

				$scope.chatRoom = {};

				// validator (sync)
				$scope.validators = {
				};

				// validator (async)
				$scope.asyncValidators = {
				};

				$scope.submit = function () {
					if ($scope.chatRoomForm.$invalid) {
						$scope.chatRoomForm.$setDirty();
						return;
					}

					var selectedUser = $scope.usersIdHash[$scope.chatRoom.createdByUserId];
					$scope.chatRoom.createdByUserName = selectedUser.userName;

					$http.post('/api/chat_rooms', $scope.chatRoom)
						.success(function(data, status, headers, config){
							alert("succsess");
						})
						.error(function(data, status, headers, config){
							alert("error");
						});
				};
			});

			app.controller('ChatRoomListController', function($scope, $http) {
				$http.get('/api/chat_rooms')
					.success(function(data) {
					$scope.chatRooms = data;
				});
			});
		})();
		</script>
	</head>

	<body>
		<div ng-controller="ChatRoomFormController">
			<form name="chatRoomForm" novalidate ng-submit="submit()">
				<div>
					<div>
						<label>ユーザ：</label>
						<span ng-messages="chatRoomForm.createdByUserId.$error" ng-if="chatRoomForm.createdByUserId.$dirty || chatRoomForm.$submitted">
							<span ng-message="required">必須です</span>
						</span>
					</div>
					<select ng-model="chatRoom.createdByUserId"
						required>
						<option ng-repeat="user in users" value="{{user._id}}">{{user.userName}}</option>
					</select>
				</div>
				<div>
					<div>
						<label>タイトル：</label>
						<span ng-messages="chatRoomForm.title.$error" ng-if="chatRoomForm.title.$dirty || chatRoomForm.$submitted">
							<span ng-message="required">必須です</span>
							<span ng-message="minlength">4文字以上必要です</span>
						</span>
					</div>
					<input type="text" name="title" ng-model="chatRoom.title"
					       required minlength="4" />
				</div>
				<button ng-disabled="chatRoomForm.$dirty && chatRoomForm.$invalid">送信</button>
			</form>
			<div>
				<pre>chatRoom = {{chatRoom|json}}</pre>
				<pre>chatRoomForm.$error = {{chatRoomForm.$error|json}}</pre>
			</div>
		</div>

		<div ng-controller="ChatRoomListController">
			<p>Chat Room 一覧</p>
			Room数 : {{chatRooms.length}}
			<ul>
				<li ng-repeat="chatRoom in chatRooms">{{chatRoom._id}} : {{chatRoom.title}} : {{chatRoom.createdByUserId}} : {{chatRoom.createdByUserName}} : {{chatRoom.createdAt}}</li>
			</ul>
		</div>
	</body>
</html>
